
ServerAdmin @@run.Admin@@

Listen @@run.WWWPort@@
NameVirtualHost *:@@run.WWWPort@@

TypesConfig @@run.Base@@/conf/mime.types

ServerRoot @@run.Base@@

User @@run.user@@
Group @@run.group@@
HostnameLookups off

Options -Indexes +FollowSymLinks +ExecCGI

MaxRequestsPerChild 3000
MaxClients 40
KeepAlive 5
KeepAliveTimeout 60
IdentityCheck Off

LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
LogFormat "%h %P %l %u %t \"%r\" %>s %b" common
LogFormat "%{Referer}i -> %U" referer
LogFormat "%{User-agent}i" agent
LogLevel @@run.LogLevel@@
TransferLog @@run.LogPath@@/access_log
ErrorLog @@run.LogPath@@/error_log

PidFile @@run.LogPath@@/httpd.pid
LockFile @@run.LogPath@@/httpd.lock

SetEnv DB_CONN_STR @@run.DBConnectionString@@
SetEnv DB_USER @@run.DBUser@@
SetEnv DB_PASS @@run.DBPass@@

<VirtualHost *:@@run.WWWPort@@>
  ServerName  @@run.ServerName@@

  PerlSendHeader on

  PerlRequire @@run.Base@@/lib/preload.pl

  Alias /images/ @@run.Base@@/images/
  Alias /js/     @@run.Base@@/js/
  Alias /css/    @@run.Base@@/css/

  DocumentRoot @@run.Base@@/htdocs/
  DirectoryIndex index.html

  <Location /css/>
    SetHandler default-handler
  </Location>

  <Location /images/>
    SetHandler default-handler
  </Location>

  <Location /js/>
    SetHandler default-handler
  </Location>

  <Location /talks/schedule/>
    SetHandler perl-script
    PerlHandler PerlGlue::Handler::Schedule
    allow from all
  </Location>

  <LocationMatch "/talks/[0-9]+/info/">
    SetHandler perl-script
    PerlHandler PerlGlue::Handler::Talk
    allow from all
  </LocationMatch>

  <LocationMatch "/talks/[0-9]+/add/">
    SetHandler perl-script
    PerlHandler PerlGlue::Handler::Talk
    allow from all
  </LocationMatch>

  <LocationMatch "/talks/[0-9]+/remove/">
    SetHandler perl-script
    PerlHandler PerlGlue::Handler::Talk
    allow from all
  </LocationMatch>

  <Location "/talks/myschedule/">
    SetHandler perl-script
    PerlHandler PerlGlue::Handler::Schedule
    allow from all
  </Location>

  <LocationMatch "/talks/[0-9]+/comment/">
    SetHandler perl-script
    PerlHandler PerlGlue::Handler::Talk
    allow from all
  </LocationMatch>

  <LocationMatch "/talks/[0-9]+/rate/">
    SetHandler perl-script
    PerlHandler PerlGlue::Handler::Talk
    allow from all
  </LocationMatch>

  <Location "/alerts/enable/">
    SetHandler perl-script
    PerlHandler PerlGlue::Handler::Settings
    allow from all
  </Location>

  <Location "/alerts/disable/">
    SetHandler perl-script
    PerlHandler PerlGlue::Handler::Settings
    allow from all
  </Location>

</VirtualHost>


